.banner__text-box {
    text-align: center;
    font-size: 170px;
    font-weight: 200;
    color: $white-text;
    text-shadow: black 5px 5px 10px;
    padding: 300px 0 400px 0;
    font-family: $dancing-cursive;
    pointer-events: none;
}