.blogs {
    padding-left: 325px;
    margin-bottom: 200px;
    @include tabletMax-screen {
       padding-left: 0px; 
    }
}

.blogs__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blogs__title {
    font-weight: 300;
    padding-bottom: 50px;
}

.blogs__grid-box {
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: auto auto;
   grid-auto-flow: column;
   @include tabletMin-screen {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    @include book-breakpoint {
        transform: scale(0.8);
    }
}

.blog__box {
    width: 350px;
    height: 250px;
    position: relative;
    margin: 30px;
    box-shadow: black 5px 5px 10px;
    transition: $transition;
    @include blogs-breakpoint {
       width: 290px;
       height: 190px;
    }
}

.blog__box:hover {
    transform: scale(1.1)
}

.blog__box-img {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.blog__box-title {
    padding: 5px 10px;
    width: 250px;
    font-size: 26px;
    position: absolute;
    color: $white-text;
    cursor: pointer;
    @include blogs-breakpoint {
     font-size: 18px;  
    }
}
