.header__content {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: $transition;
    z-index: 91;
    padding: 10px;
    @include tabletMax-screen {
        justify-content: space-between;
    }
}

.header__content.sticky {
    background-color: $dark-background;
    padding: 0;
    .header__logo, .header__list .burger__menu {
        transform: scale(0.8);
        transition: $transition;
    }
    @include tabletMax-screen {
        padding: 10px 20px;
    }
}

.header__logo-link {
    @include book-breakpoint {
        width: 150px;
    }
}

.header__logo {
    width: 100%;
}

.header__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include tabletMax-screen {
        display: none;
    }
}

.header__search-img{
    width: 25px;
}

.header__item {
    padding-left: 50px;
    font-size: 18px;
    letter-spacing: 3px;
    text-transform: uppercase;
    transition: $transition;
    .header__link {
        color: $white-text;
    }
}

.header__item:hover {
    transform: scale(1.2);
}

.burger__menu {
    display: none;
    @include tabletMax-screen {
        display: block;
    }
}