.quote {
    padding-left: 325px;
    margin-bottom: 200px;
    text-align: center;
    @include tabletMax-screen {
        padding-left: 0px; 
     }
}

.quote__box {
    background-color: $dark-background;
    color: $white-text;
    display: inline-block;
    padding: 40px 60px;
    border: 1px solid darkorange;
}

.quote__outbox {
    background-color: $dark-background;
    display: inline-block;
    padding: 30px 40px;
    position: relative;
    margin: 0 20px;
}

.quote__title {
    margin-bottom: 50px;
}

.quote__text{
    margin-bottom: 10px;
}

.quote__name {
    font-size: 14px;
}

.quote__image-box {
    display: inline-block;
    background-color: rgb(37, 37, 37) ;
    width: 60px;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 5px 10px;
}

.quote__img {
    width: 100%;
}