.sidebar {
    width: 325px;
    background-color: $sidebar-color;
    border: 1px solid $brown-background;
    position: absolute;
    top: 1012px;
    left: 0;
    padding: 200px 0;
    @include blogs-breakpoint {
        top: 922px;
    }
    @include tabletMax-screen {
        display: none;
    }
}

.sidebar__about {
    height: 1100px;
    @include blogs-breakpoint {
        height: 1780px;
    }
}

.about__image-box {
    max-width: 150px;
    max-height: 150px;
    margin: 0 auto;
}

.about__img {
    max-width: 100%;
    object-fit: contain;
    border-radius: 50%;
}

.about__name {
    padding: 50px 0 10px 0;
    text-align: center;
    font-size: 24px;
    pointer-events: none;
}

.about__text-founder {
    display: block;
    text-align: center;
    font-weight: 200;
    font-size: 14px;
    pointer-events: none;
}

.about__text {
    padding: 0 10px;
}

.about__text-bio {
    padding: 20px 0;
    text-align: start;
    line-height: 25px;
    pointer-events: none;
}

#more {
    display: none;
}

#aboutBtn {
    display: block;
    font-size: 14px;
    margin: 20px auto 0;
    background-color: transparent;
    border: none;
    color: $brown-background;
    cursor: pointer;
}

#aboutBtn:hover {
    text-decoration: underline;
}

.sidebar__instagram {
  padding-bottom: 400px;
}

.instagram-media {
    transform: scale(0.9);
}

.instagram__logo {
    width: 200px;
    height: 80px;
    object-fit: cover;
    margin: 0 auto;
}

.instagram__logo-img {
    width: 100%;
}

.sidebar__contact {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.sidebar__contact-title {
    font-size: 36px;
    font-family: $dancing-cursive;
    margin-bottom: 30px;
    pointer-events: none;
}

.sidebar__logo {
    margin: 30px 0;
    transition: $transition;
    width: 60px;
}

.sidebar__logo:hover {
    transform: scale(1.2);
}