.tablet__insta {
    margin-bottom: 200px;
    padding: 50px 0;
    display: none;
    @include tabletMax-screen {
        display: block;
        background-image: linear-gradient($sidebar-color, beige, $sidebar-color);
        padding-bottom: 150px;
        margin-bottom: 0;
    }
}

.tablet__insta-imageBox {
    width: 200px;
    height: 100px;
    object-fit: cover;
    margin: 0 auto;
}

.tablet__insta-img {
    width: 100%;
}

.tablet__insta-feed {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    @include tabletMin-screen {
        flex-direction: column;
    }
}
