.testimonials {
    margin-left: 325px;
    margin-bottom: 200px;
    background-image: linear-gradient($brown-background, $dark-background);
    @include tabletMax-screen {
        margin-left: 0px; 
        margin-bottom: 100px;
    }
    @include book-breakpoint {
        overflow-x: scroll;
    }
}

.testimonials__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 100px 0;
}

.prev-img {
    transform: rotate(180deg);
}

.btn {
    width: 60px;
    height: 50px;
    padding: 5px 10px;
    cursor: pointer;
    background-color: $sidebar-color;
    opacity: 0.8;
    border-radius: 10px;
    margin: 10px;
    transition: transform 0.5s;
}

.btn:focus {
    outline: none;
}

.btn:hover {
    background-color: crimson;
    border-radius: 10px;
    padding: 5px 10px;
    opacity: 1;
}

.image {
   width: 100%;
}

.book {
    position: relative;
    width: 350px;
    height: 500px;
    transition: transform 0.5s;
    @include tabletMin-screen{
        max-width: 250px;
        height: 400px;
    }
}

.paper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    perspective: 1500px;
}

.front,
.back {
    background-color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform-origin: left;
    transition: transform 0.5s;
    box-shadow: 1px 1px 3px $dark-background;
}

.front {
    z-index: 1;
    backface-visibility: hidden;
    border-left: 1px solid $brown-background;
}

.back {
    z-index: 0;
}

.front-content,
.back-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    q {
        @include tabletMin-screen {
            font-size: 14px;
        }
    }
}

#f1 {
    background-color: $sidebar-color;
    padding-top: 60px;
}

.cover__logo-box {
    border:1px solid $dark-background;
    padding: 5px 10px;
    border-radius: 5px;
}

.cover__logo {
    width: 100%;
}

.back-content {
    transform: rotateY(180deg);
}

#p1 {
    z-index: 3;
}

#p2 {
    z-index: 2;
}

#p3 {
    z-index: 1;
}

.flipped .front,
.flipped .back {
    transform: rotateY(-180deg);
}

.front__title {
    padding-top: 40px;
    font-weight: 300;
    text-align: center;
    pointer-events: none;
    @include tabletMin-screen {
        font-size: 32px;
    }
}

.content-name {
    text-align: center;
    margin-bottom: 20px;
    img {
        border-radius: 50%;
        width: 100px;
        margin-bottom: 10px;
    }

    h4 {
        margin-bottom: 10px;
    }

    span {
        opacity: 0.6;
    }
}

.back__cover {
    padding-top: 440px;
    border-bottom: 1px solid black;
    display: block;
    width: 100%;
    text-align: center;
    @include tabletMin-screen {
        padding-top: 340px;
    }
}

#b3 {
    background-color: $sidebar-color;
}