.preload {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background: $dark-background;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    transition: opacity 0.5s ease;
    img {
        width: 200px;
    }
}

.preload-finish {
    display: none;
    pointer-events: none;
}