$dark-text: #333333;
$white-text: #ffffff;

$brown-background: rgb(170, 91, 81);
$sidebar-color: #fde8bd;
$dark-background: rgb(37, 37, 37);

$roboto: 'Roboto', sans-serif;
$dancing-cursive:  'Dancing Script', cursive; 

$transition: all 0.3s ease-in;